@keyframes colorize {
  0% {
    background-color: rgba(240, 248, 255, 0.2);
  }

  30% {
    background-color: rgba(127, 255, 212, 0.2);
  }

  60% {
    background-color: rgba(235, 195, 195, 0.2);
  }

  100% {
    background-color: rgba(240, 248, 255, 0.2);
  }
}

.animate-colorize {
  /* animation: colorize 40s infinite; */
  background-color: rgba(240, 248, 255, 0.2);
}

.animate-colorize-text {
  text-shadow: 0 0 50px rgb(6, 95, 95);
  color: rgb(255, 255, 255);
}

@keyframes scale-in {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  70% {
    transform: scale(2) translateY(-30%);
    opacity: 0.1;
  }

  100% {
    transform: scale(5) translateY(-100%);
    opacity: 0;
  }
}

.animate-scale-in {
  animation: scale-in 10s ease forwards;
}

.scailing {
  transform: scale(20);

  line-height: 1000%;
}

@media (max-width: 480px) {
  .scailing {
    transform: scale(80);

    line-height: 800%;
  }
}
